@model SRNY.Models.Size

@{
    ViewData["Title"] = "AddSize";
    Layout = "_AdminLayout";
}
<div class="userAccount">
<h2>Add New Size</h2>
<div class="row">
    <div class="col-md-12 EditForm">
        <form asp-action="AddSize">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="size" class="control-label">Size Name</label>
                <input asp-for="size" class="form-control" />
                <span asp-validation-for="size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Available" class="control-label">Available Amount</label>
                <input asp-for="Available" class="form-control" />
                <span asp-validation-for="Available" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="ProductId" class ="form-control" hidden>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" id="editSave" />
            </div>
        </form>
    </div>
</div>

 <div class="BackToList">
    <a asp-action="Product">Back to List</a>
</div>

</div>