@model List<Category>
@{
    ViewData["Title"] = "Categories";
    Layout = "_AdminLayout";
}

<h2>Categories</h2>
<div class="createOne">
    <a asp-action="NewCategory" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true"></i>New</a>
</div>
<div class="table-container">
<table class="table table-bordered table-hover">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Controls</th>
    </tr>
    @foreach (Category item in Model)
{
    <tr>
        <td>@item.Id</td>
        <td>@item.Name</td>
         <td>
            <a class="btn btn-success" asp-action="EditCategory" asp-route-id="@item.Id">Edit</a>
            <a class="btn btn-danger"asp-action="DeleteCategory" asp-route-id="@item.Id">Delete</a>
   </td>
    </tr>
}
</table>
</div>