@model SRNY.Models.Size

@{
    ViewData["Title"] = "DeleteSize";
    Layout = "_AdminLayout";
}

<h2>Size is Deleted</h2>
<a asp-action="Product" asp-controller="Admin" class="btn btn-primary" style="margin-top:30px">Back to List</a>
