@model SRNY.Models.Category

@{
    ViewData["Title"] = "EditCategory";
    Layout = "_AdminLayout";
}


<div class="userAccount">
<h3>Edit Category</h3>
<hr />
<div class="row">
    <div class="col-md-12 EditForm">
        <form asp-action="EditCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" id="editSave"/>
            </div>
        </form>
        <div class="BackToList">
            <a asp-action="Categories">Back to List</a>
        </div>
    </div>
</div>
</div>