@model SRNY.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Srny";
}

<div class="userAccount">
<h1 class="UserHeaderLogin">Login</h1>

<div class="row">
    <div class="col-md-12 userAccountColumn">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Username or email address</label>
                <input asp-for="Email" class="form-control text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control text" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RememberMe" /> @Html.DisplayNameFor(model => model.RememberMe)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Log in" class="btn btn-primary" />
            </div>
        </form>
        <div style="text-align:center">
             <a asp-action="Register" class="UserActionRedirect">Create New Account</a>
        </div>
    </div>
</div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}